.home-section{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cont{
  background-color: #8C8FC2;
  border-radius: 10px;
  height: 400px;
  width: 500px;
}

.container{
  
}

.swiper{
  margin-top: 40px;

}

.swiper-slide{
  height: 400px;
  width: 200px;
  background-color: #B9BBDE;
  position: relative;
}

.swiper-slide img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}