@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
body{
    background-color: #3A1772;
    font-family: 'Rubik', sans-serif;
    text-align: center;
}

header{
    margin-top: 20px;
    display: flex;
}

svg:first-child{
    width: 60px;
}

.explore img{
    width: 600px;
    margin-top: ;
}


/*OPTIONS*/

.options{
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.container{
    margin-left: 20px;
    margin-right: 20px;
    background: #B9BBDE;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 220px;
    transition: ease-out, 0.5s;
}

.container:hover{
    position: relative;
    transition: ease-in, 0.5s;
    height: 250px;
    width: 210px;
    background-color: #8C8FC2;
    transition: ease-in,;
}


.icon{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 50px;
}

.iconimg{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 70px;
}

.tittle{
    margin-bottom: 15px;
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
}

.text{
    color: #FFF;
    font-size: 17px;
    
}

.go{
    align-content: center;
    display: none;
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    margin-top: 10px;
    justify-self: flex-end;
    background-color: #6063A3;
    align-self: center;
    padding: 2px 8px;   
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.50);
    transition: ease-out, 0.5s;
}

.container:last-child .go{
    margin-top: 25px;
}

.arrow {
    justify-self: center;
    height: 50%;
}

.container:hover .go{
    display: block;
    transition: ease-in, 0.5s;
}