@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
body {
    background-image: url(../Diseño/fondoInicio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.container{
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: space-evenly;
}

.logo{
    align-self: center;
    width: 80%;
}

.text{
    font-family: 'Rubik', sans-serif;
    color: #fff;
    align-self: center;
    vertical-align: middle;
    font-size: 20px;
    font-weight: 500;
    word-spacing: 4px;
    letter-spacing: 1px;
}

.separator{
    align-self: center;
    border-radius: 4px;
    background: #FAFAFD;
    width: 130px;
    height: 4px;
}

.RedirectButton{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    align-self: center;
    padding: 8px 25px;
    font-size: 25px;
    background-color: #8C8FC2;
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.50);
}

.RedirectButton:hover {
    transition: ease-in;
    background-color: #3A1772;
}

.background{
    position: absolute;
}

.bar{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px ;
    display: flex;
    flex-direction: row;
    grid-column: 1;
    justify-content: space-evenly;
}

.bar a{
    text-decoration: none;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

.bar a:hover{
    font-weight: bold;
}

.stars{
    grid-column: 1;
    margin-top: 15px;
    margin-left: 65px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}   
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

.starsimg{
    height: 85%;
}