@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

/* .home-section h1{
    text-align: center;
}

.home-section #apodImage{
    width: 50%;
}

.home-section #apodTextContainer{
    margin: auto;
    width: 95%;
}

.home-section #apodTitle{
    text-align: center;
    font-size: 25px;
    font-family: "Rubik", sans-serif;
}

.home-section #apodExplanation{
    font-size: 20px;
    font-family: "Rubik", sans-serif;
}

.home-section #apodImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

 */
