body {
    background-color: #3A1772;
}

.container{
    position: fixed;
    right: 100px;
    top: 25vh;
    width: 500px;
    height: 300px;
    padding: 10px;
    background-color: #B9BBDE;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#redirectButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 30px;
    font-size: 20px;
    background-color: #8C8FC2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    transition: ease-in;
    background-color: #3A1772;
}
