@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
body {
    background-color: #3A1772;
}

.container{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 100px;
    top: 25vh;
    width: 500px;
    height: 300px;
    padding: 10px;
    background-color: #B9BBDE;
}

.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#redirectButton{
    box-shadow: 3px 4px 4px 0px rgba(0, 0, 0, 0.50);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 14px;
    font-size: 50;
    border-radius: 6px;
    background: #8C8FC2;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Rubik', sans-serif;
}

#redirectButton:hover {
    transition: ease-in 4s;
    background-color: #3A1772;
}
